@keyframes highlight {
    0% {
        color: red
    }

    100% {
        color: white;
    }
}

.header {
    /* height: auto; */
    max-width: 95vw;
    /* width: 50vw; */
}

.anim {
    animation: highlight 1s;
}

body {
    background-image: url(./resources/background.jpg);
}

.center {
    text-align: center;
}

.p-large {
    font-size: xx-large;
}

.p-med {
    font-size: x-large;
}

.p-small {
    font-size: large;
}

p em {
    color: goldenrod;
}

.white {
    color: white
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-element {
    margin: 0 5%;
    display: inline;
}

.content {
    margin: 100px 0
}

ul {
    list-style-type: none;
}

a:link,
a:visited {
    color: goldenrod
}

a:hover {
    color: gold
}

.inline {
    margin-bottom: 100px;
}

.inline-element {
    display: inline;
}
